In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import os
from pathlib import Path

%matplotlib inline

In [3]:
# Reading Data

clothing_Access_path = Path("../data/rawdata/Clothing_ Access _Stores_Total.csv")
department_Stores_path = Path("../data/rawdata/Department_Stores_Total.csv")
electronics_Appli_path = Path("../data/rawdata/Electronics_Appli_Stores_Total.csv")
Food_Serv_Drink_path = Path("../data/rawdata/Food _Serv_ Drink _Places_Total.csv")
Food_Beverage_path = Path("../data/rawdata/Food_Beverage_Stores_Total.csv")
Furniture_HomeFurnis_path = Path("../data/rawdata/Furnitures_HomeFurnis_Total.csv")
Health_Personal_Care_path = Path("../data/rawdata/Health_Personal_Care_Total.csv")
Nonstore_Retailers_path = Path("../data/rawdata/Nonstore _Retailers_Total.csv")

clothing_Access = pd.read_csv(clothing_Access_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
department_Stores = pd.read_csv(department_Stores_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
electronics_Appli = pd.read_csv(electronics_Appli_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
food_Serv_Drink = pd.read_csv(Food_Serv_Drink_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
food_Beverage = pd.read_csv(Food_Beverage_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
furniture_HomeFurnis = pd.read_csv(Furniture_HomeFurnis_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
health_Personal_Care = pd.read_csv(Health_Personal_Care_path, index_col="Period", infer_datetime_format=True, parse_dates=True)
nonstore_Retailers = pd.read_csv(Nonstore_Retailers_path, index_col="Period", infer_datetime_format=True, parse_dates=True)

In [120]:
clothing_Access.head()

          Value
Period
18-Jan  15780.0
18-Feb  18424.0
18-Mar  22207.0
18-Apr  20463.0
18-May  23560.0

In [114]:
department_Stores.head()

          Value
Period
18-Jan   9120.0
18-Feb   9663.0
18-Mar  11481.0
18-Apr  10567.0
18-May  12014.0

In [113]:
food_Beverage.head()

          Value
Period
18-Jan  60393.0
18-Feb  56483.0
18-Mar  63791.0
18-Apr  59571.0
18-May  64527.0

In [116]:
electronics_Appli.head()

         Value
Period
18-Jan  7290.0
18-Feb  6972.0
18-Mar  7581.0
18-Apr  6835.0
18-May  7397.0

In [117]:
Food_Serv_Drink.head()

          Value
Period
18-Jan  54478.0
18-Feb  54702.0
18-Mar  63389.0
18-Apr  60128.0
18-May  63941.0

In [118]:
Furniture_HomeFurnis.head()

          Value
Period
18-Jan   8878.0
18-Feb   8701.0
18-Mar  10185.0
18-Apr   9365.0
18-May  10114.0

In [ ]:
health_Personal_Care.head(
    
)