In [14]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [15]:
load_dotenv()

True

In [16]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [17]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [18]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [19]:
today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()

In [20]:
tickers = ["AMZN", "ASO", "BABA", "DIS", "DPZ", "EBAY", "ETSY", "FB", "MCD", "PYPL", "SBUX", "SHOP", "SQ", "TGT", "UBER", "WEN", "WMT", "GRUB", "MACY", "OSTK", "LVMUY", "WSM", "PPRUY","YUM", "SHLDQ", "DRI","EAT","NFLX"]

In [33]:
timeframe = "1D"

In [34]:
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = "01/01/2021",
    end = today
).df

In [35]:
df_portfolio

                              AMZN                                         \
                              open      high        low    close   volume
time
2020-02-21 05:00:00+00:00  2141.00  2143.540  2088.0000  2095.97  4342141
2020-02-24 05:00:00+00:00  2003.18  2039.295  1987.9742  2008.74  6047539
2020-02-25 05:00:00+00:00  2026.42  2034.600  1958.4200  1970.65  5858950
2020-02-26 05:00:00+00:00  1970.01  2014.670  1960.4500  1979.61  4906059
2020-02-27 05:00:00+00:00  1934.38  1975.000  1882.7621  1882.88  7600123
...                            ...       ...        ...      ...      ...
2020-07-08 04:00:00+00:00  3022.61  3083.970  3012.4302  3081.88  4687637
2020-07-09 04:00:00+00:00  3115.99  3193.880  3074.0017  3183.81  6101864
2020-07-10 04:00:00+00:00  3191.76  3215.000  3135.7000  3203.36  5135404
2020-07-13 04:00:00+00:00  3251.06  3344.290  3068.3901  3101.55  7304358
2020-07-14 04:00:00+00:00  3089.00  3127.380  2950.0000  3084.02  6842135

                           ASO                         ...    WEN           \
                          open high  low close volume  ...   open     high
time                                                   ...
2020-02-21 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  23.55  23.9800
2020-02-24 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  23.50  23.7800
2020-02-25 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  23.55  24.0373
2020-02-26 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  22.50  23.5900
2020-02-27 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  21.58  22.0200
...                        ...  ...  ...   ...    ...  ...    ...      ...
2020-07-08 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  21.95  22.4200
2020-07-09 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  22.24  22.2500
2020-07-10 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  21.72  22.0500
2020-07-13 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  22.21  22.4000
2020-07-14 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  ...  21.54  21.7700

                                                        WMT                   \
                               low  close   volume     open    high      low
time
2020-02-21 05:00:00+00:00  23.4500  23.93  5000747  117.440  118.75  117.310
2020-02-24 05:00:00+00:00  23.3300  23.39  2842720  117.460  118.46  115.952
2020-02-25 05:00:00+00:00  22.9350  22.96  4430660  116.350  117.07  114.050
2020-02-26 05:00:00+00:00  21.8200  21.91  5978438  114.700  115.17  113.650
2020-02-27 05:00:00+00:00  20.0500  20.07  4532901  112.560  114.07  110.350
...                            ...    ...      ...      ...     ...      ...
2020-07-08 04:00:00+00:00  21.8700  22.22  1466275  128.000  128.13  124.400
2020-07-09 04:00:00+00:00  21.5500  21.63  2451845  125.610  128.18  124.950
2020-07-10 04:00:00+00:00  21.5600  21.99  1460425  128.735  131.37  127.260
2020-07-13 04:00:00+00:00  21.4113  21.43  1840510  131.330  133.63  128.890
2020-07-14 04:00:00+00:00  21.2741  21.72  1379013  129.280  132.50  129.026


                            close    volume
time
2020-02-21 05:00:00+00:00  118.59   4869840
2020-02-24 05:00:00+00:00  116.34   5703877
2020-02-25 05:00:00+00:00  114.42   6000189
2020-02-26 05:00:00+00:00  113.79   5553468
2020-02-27 05:00:00+00:00  110.36   7958408
...                           ...       ...
2020-07-08 04:00:00+00:00  124.41  16521036
2020-07-09 04:00:00+00:00  127.76  12339865
2020-07-10 04:00:00+00:00  130.66  14065343
2020-07-13 04:00:00+00:00  129.55  13012634
2020-07-14 04:00:00+00:00  132.02   8020496

[100 rows x 85 columns]