In [2]:
import pandas as pd

In [5]:
from pathlib import Path

In [8]:
csv_path = Path("../../data/rawdata/SQ.csv")

In [10]:
sq_df = pd.read_csv(csv_path)
sq_df.head(10)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2020-05-01  62.840000  63.910000  61.439999  63.000000  63.000000  10042400
1  2020-05-04  61.340000  64.169998  61.090000  63.689999  63.689999   7556900
2  2020-05-05  66.000000  68.589996  65.209999  66.690002  66.690002  12011500
3  2020-05-06  67.320000  69.809998  67.120003  68.099998  68.099998  16202900
4  2020-05-07  69.860001  76.800003  69.580002  74.620003  74.620003  31027000
5  2020-05-08  72.040001  76.400002  72.000000  76.050003  76.050003  20030600
6  2020-05-11  75.699997  75.903000  74.360001  74.900002  74.900002  12720600
7  2020-05-12  76.000000  77.389999  74.309998  75.209999  75.209999  17015500
8  2020-05-13  75.320000  75.800003  70.820000  73.790001  73.790001  13970100
9  2020-05-14  72.169998  78.250000  71.070000  78.199997  78.199997  16038900