In [112]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [113]:
load_dotenv()

True

In [114]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [115]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [116]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [117]:
#today = pd.Timestamp("2018-01-01", tz="America/New_York").isoformat()
start_date = pd.Timestamp('2018-08-07', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-04-30', tz='America/New_York').isoformat()

In [118]:
tickers = ["AMZN", "ASO", "BABA", "DIS", "DPZ", "EBAY", "ETSY", "FB", "MCD", "PYPL", "SBUX", "SHOP", "SQ", "TGT", "UBER", "WEN", "WMT", "GRUB", "MACY", "OSTK", "LVMUY", "WSM", "PPRUY","YUM", "SHLDQ", "DRI","EAT","NFLX"]

In [119]:
timeframe = "1D"
print (timeframe)

1D

In [130]:
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit = 1000
).df

In [131]:
df_portfolio.index

DatetimeIndex(['2018-08-07 04:00:00+00:00', '2018-08-08 04:00:00+00:00',
               '2018-08-09 04:00:00+00:00', '2018-08-10 04:00:00+00:00',
               '2018-08-13 04:00:00+00:00', '2018-08-14 04:00:00+00:00',
               '2018-08-15 04:00:00+00:00', '2018-08-16 04:00:00+00:00',
               '2018-08-17 04:00:00+00:00', '2018-08-20 04:00:00+00:00',
               ...
               '2021-04-19 04:00:00+00:00', '2021-04-20 04:00:00+00:00',
               '2021-04-21 04:00:00+00:00', '2021-04-22 04:00:00+00:00',
               '2021-04-23 04:00:00+00:00', '2021-04-26 04:00:00+00:00',
               '2021-04-27 04:00:00+00:00', '2021-04-28 04:00:00+00:00',
               '2021-04-29 04:00:00+00:00', '2021-04-30 04:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='time', length=688, freq=None)

In [132]:
df_portfolio.isnull().sum()

AMZN  open      0
      high      0
      low       0
      close     0
      volume    0
               ..
YUM   open      3
      high      3
      low       3
      close     3
      volume    3
Length: 140, dtype: int64

In [133]:
df_portfolio.dropna()

Empty DataFrame
Columns: [(AMZN, open), (AMZN, high), (AMZN, low), (AMZN, close), (AMZN, volume), (ASO, open), (ASO, high), (ASO, low), (ASO, close), (ASO, volume), (BABA, open), (BABA, high), (BABA, low), (BABA, close), (BABA, volume), (DIS, open), (DIS, high), (DIS, low), (DIS, close), (DIS, volume), (DPZ, open), (DPZ, high), (DPZ, low), (DPZ, close), (DPZ, volume), (DRI, open), (DRI, high), (DRI, low), (DRI, close), (DRI, volume), (EAT, open), (EAT, high), (EAT, low), (EAT, close), (EAT, volume), (EBAY, open), (EBAY, high), (EBAY, low), (EBAY, close), (EBAY, volume), (ETSY, open), (ETSY, high), (ETSY, low), (ETSY, close), (ETSY, volume), (FB, open), (FB, high), (FB, low), (FB, close), (FB, volume), (GRUB, open), (GRUB, high), (GRUB, low), (GRUB, close), (GRUB, volume), (LVMUY, open), (LVMUY, high), (LVMUY, low), (LVMUY, close), (LVMUY, volume), (MACY, open), (MACY, high), (MACY, low), (MACY, close), (MACY, volume), (MCD, open), (MCD, high), (MCD, low), (MCD, close), (MCD, volume), (NFLX, open), (NFLX, high), (NFLX, low), (NFLX, close), (NFLX, volume), (OSTK, open), (OSTK, high), (OSTK, low), (OSTK, close), (OSTK, volume), (PPRUY, open), (PPRUY, high), (PPRUY, low), (PPRUY, close), (PPRUY, volume), (PYPL, open), (PYPL, high), (PYPL, low), (PYPL, close), (PYPL, volume), (SBUX, open), (SBUX, high), (SBUX, low), (SBUX, close), (SBUX, volume), (SHLDQ, open), (SHLDQ, high), (SHLDQ, low), (SHLDQ, close), (SHLDQ, volume), ...]
Index: []

[0 rows x 140 columns]

In [134]:
closing_price = df_portfolio.xs("close",axis="columns",level=1)
closing_price.dropna()

Empty DataFrame
Columns: [AMZN, ASO, BABA, DIS, DPZ, DRI, EAT, EBAY, ETSY, FB, GRUB, LVMUY, MACY, MCD, NFLX, OSTK, PPRUY, PYPL, SBUX, SHLDQ, SHOP, SQ, TGT, UBER, WEN, WMT, WSM, YUM]
Index: []

[0 rows x 28 columns]

In [135]:
closing_price.to_csv('../../data/cleandata/closing_prices.csv')